.DS_Store
*.pidb
*.userprefs
*.suo
Library
Temp
*.sln
*.csproj
node_modules
obj
Artifacts
Assets/SpicyPixel/Modules/ConcurrencyKit/Bin
Assets/SpicyPixel/Modules/ConcurrencyKit/Docs
Assets/SpicyPixel/Modules/ConcurrencyKit/MonoDoc
Assets/SpicyPixel/Modules/ConcurrencyKit/LICENSE.md
Assets/SpicyPixel/Modules/ConcurrencyKit/README.md
