.DS_Store
*.pidb
*.userprefs
*.suo
*.sln
*.csproj
npm-debug.log
Library/
Temp/
node_modules/
obj/
Artifacts/

# Ignore submodules because content and meta
# will be imported
#

# Keep *.meta consistent for packaging and
# project refs but don't check in the binaries.
# ---
Assets/SpicyPixel/Modules/ConcurrencyKit/Docs/**/*
!Assets/SpicyPixel/Modules/ConcurrencyKit/Docs/**/
Assets/SpicyPixel/Modules/ConcurrencyKit/Lib/**/*
!Assets/SpicyPixel/Modules/ConcurrencyKit/Lib/**/
Assets/SpicyPixel/Modules/ConcurrencyKit/Editor/**/*
!Assets/SpicyPixel/Modules/ConcurrencyKit/Editor/**/
Assets/SpicyPixel/Modules/ConcurrencyKit/MonoDoc/**/*
!Assets/SpicyPixel/Modules/ConcurrencyKit/MonoDoc/**/
Assets/SpicyPixel/Modules/ConcurrencyKit/Scripts/**/*
!Assets/SpicyPixel/Modules/ConcurrencyKit/Scripts/**/
Assets/SpicyPixel/Modules/ConcurrencyKit/LICENSE.md
Assets/SpicyPixel/Modules/ConcurrencyKit/README.md
!Assets/SpicyPixel/Modules/ConcurrencyKit/**/*.meta